extends ../layout/public

block title
  title #{layout.website.dc.title}

block ogp-title
  meta(property='og:title' content=layout.website.og.title)

block breadcrumb
  nav.mt-3.mb-3(aria-label='パンくずリスト')
    .container
      ol.breadcrumb
        li.breadcrumb-item
          a(href='./' aria-current='page') パンくずリスト

block main
  main
    .bg-light.pt-5.pb-5
      .container
        h1.h4.mb-0 見出し
    .container
      .mt-3.pt-5.pb-5.border.text-center メインコンテンツ